@import "~leaflet/dist/leaflet.css";

.Map {
  height: 75vh;
  border: 2px solid red;

  header {
    font-weight: bold;
  }

  .Circle {
    color: purple;
    fill: currentColor;
    stroke: currentColor;
    &.Like {
      color: blueviolet;
    }
    &.Hide {
      opacity: 0.5;
    }
  }
}
