.Section {
  color: purple;
}
.Row {
  clear: both;
  padding: 0.5em 0;
  border: 2px solid transparent;
  margin: 0.5em;
  &.Like {
    border-color: blueviolet;
  }
  &.Hide {
    opacity: 0.5;
  }
}
.Gallery {
  float: left;
  width: 200px;
  height: 200px;
}
.Summary {
  h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  h4 {
    float: right;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  h6 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  .Sidebar {
    float: right;
  }
}
.Details {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;

  p {
    margin: 0;
  }
}
