.Section {
  color: purple;
}
.Row {
  clear: both;
}
.Gallery {
  float: left;
  width: 150px;
  height: 200px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;

  img {
    max-width: 100%;
    scroll-snap-align: center;
  }
}
.Sale {
  color: lightgray;
}
.Details {
  .Feature {
    &.changed {
      color: blueviolet;
    }
  }
}
