.Section {
  color: purple;
}
.Row {
  clear: both;
  padding-left: 160px;
}
.Gallery {
  position: absolute;
  margin-left: -160px;
  width: 150px;
  height: 200px;
}
.Summary {
  h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  h5 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  h6 {
    float: right;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}
.Details {
  border-top: 1px solid lightgray;
  margin-top: 0.5em;
  padding-top: 0.5em;

  .Feature {
    &.changed {
      color: blueviolet;
    }
  }
  .Price {
    &.Sale {
      color: darkgray;
      text-decoration: line-through;
    }
  }
  .ListPrice {
    color: darkorchid;
    &.Sale {
      color: darkgreen;
    }
    .Reduction {
      background: darkgreen;
      color: white;
      margin-left: 0.25em;
      padding: 0 0.25em;
    }
  }
  h5 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}
