.Options {
  .Textarea {
    display: flex;
    flex-direction: row;

    textarea {
      &:first-of-type {
        width: 4em;
        text-align: right;
      }
      &:last-of-type {
        flex-grow: 1;
      }
    }
  }
}
