.Section {
  color: green;
}
.Row {
  clear: both;
}
.Color {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 50%;
}
.Gallery {
  float: left;
  width: 200px;
  height: 150px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;

  img {
    max-width: 100%;
    scroll-snap-align: center;
  }
}
.Details {
  color: gray;

  .Compare {
    color: black;
    &.changed {
      color: red;
    }
  }
}
