.Calculator {
  color: blue;
  fieldset {
    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: baseline;
      align-content: space-between;
      gap: 0.5em;
    }
  }
}
