.Section {
  color: blue;
}
.Station {
  address {
    color: cornflowerblue;
    font-size: small;
  }
}
.Table {
  border-collapse: collapse;

  .selected {
    background: #def;
  }

  td {
    vertical-align: top;
    padding: 0.25em;
  }
}
.Price {
  color: black;
  text-align: right;
  width: 3em;
  &.eq {
    color: blue;
  }
  &.gt {
    color: red;
    &::before {
      content: "\2196";
    }
  }
  &.lt {
    color: green;
    &::before {
      content: "\2198";
    }
  }
}
