.Section {
  color: purple;
  padding: 1em;
}
.Row {
  position: relative;
  clear: both;
  min-height: 66px;
  padding: 0.5em 1em 0.5em calc(100px + 1em);
  border-top: 1px solid lightgray;
}
.Gallery {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 95px;
  height: 80px;
  border: 1px solid lightgray;
}
.Product {
  .PreviousPrice {
    text-decoration: line-through;
    color: lightgray;
    & + .Price {
      margin-left: 0.5em;
    }
  }
  .Price {
    & + .Percentage {
      margin-left: 0.5em;
    }
  }
  .Rates {
    color: gray;
  }
  .Right {
    float: right;
    text-align: right;
  }
}
