.Chart {
  position: relative;
  padding: 2em;

  svg {
    display: block;
    width: 100%;
    height: 300px;
    background: #f7f7f7;
    overflow: visible;

    rect.selection {
      stroke: none;
    }
  }

  .Tooltip {
    position: absolute;
  }
}
.Tooltip {
  background: white;
  border: 1px solid lightgray;
  color: orange;
  padding: 0.25em;
}
