.Section {
  color: purple;
  padding: 1em;
}
.Row {
  position: relative;
  min-height: 160px;
  padding: 0.5em 1em 0.5em calc(200px + 1em);
  border: 2px solid transparent;
  &.Like {
    border-color: blueviolet;
  }
  &.Hide {
    opacity: 0.5;
    min-height: 0;
  }
}
.Gallery {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 200px;
  height: 150px;
  border: 1px solid lightgray;
}
.Parameters {
  font-size: small;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    & + li::before {
      content: " · ";
    }
  }
}
.Description {
  font-size: small;
  padding: 0.25em 0;
}
.Location {
  font-size: small;
}
.Item {
  .Right {
    float: right;
    text-align: right;
  }
}
