@import "~leaflet/dist/leaflet.css";

.Layout {
}

.Gallery {
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;

  img {
    max-width: 100%;
    scroll-snap-align: center;
  }
}

.Map {
  height: 75vh;
  border: 2px solid red;

  header {
    font-weight: bold;
  }
}
